@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@font-face {font-family: "MyWebFont"; src: url("//db.onlinewebfonts.com/t/02d0c55246be027455d79356f31ff7c2.eot"); src: url("//db.onlinewebfonts.com/t/02d0c55246be027455d79356f31ff7c2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/02d0c55246be027455d79356f31ff7c2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/02d0c55246be027455d79356f31ff7c2.woff") format("woff"), url("//db.onlinewebfonts.com/t/02d0c55246be027455d79356f31ff7c2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/02d0c55246be027455d79356f31ff7c2.svg#MysteryEF") format("svg"); }
@font-face {font-family: "MyWebFont2"; src: url("//db.onlinewebfonts.com/t/0bf423318c95d14a48c0a056c4beaae5.eot"); src: url("//db.onlinewebfonts.com/t/0bf423318c95d14a48c0a056c4beaae5.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0bf423318c95d14a48c0a056c4beaae5.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0bf423318c95d14a48c0a056c4beaae5.woff") format("woff"), url("//db.onlinewebfonts.com/t/0bf423318c95d14a48c0a056c4beaae5.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0bf423318c95d14a48c0a056c4beaae5.svg#MysteryEF") format("svg"); }
.form-control::placeholder {
    
    font-size: 1.5rem;
    color: #aaa;
    font-style: italic;
  }
body{
    font-family: 'Roboto', sans-serif;
    background-color: #525050;
    overflow-x: hidden;
}
input{

    margin-top: 8px;
    margin-left: 8px;
    height: 20px;
}
#search-addon{
    left: 240px;
    margin-top: 5px;
    border: 1px solid rgb(71, 71, 71);
    background-color: rgba(255, 255, 255, 0.096);
}
.input-group-text{
    position: relative;
    border-radius: 0px 3px 3px 0px;
    padding: 8px;
    float: right;
    left: 40px;
    top: -39px;
    height: 34px;
    width: 30px;
    background-color: white;
}
.srch{
    width: 400px;
    
}
.form-control{
    border-radius: 0 0 0 0;
    border: none;
    left: 200px;
    border: 1px solid rgb(71, 71, 71);
    background-color: rgba(10, 10, 10, 0.5);
}
.srch-color{
    width: 200px;
}
.body{
    margin: auto;
    position: relative;
    background-color: #111111;
    top: -10px;
    width: 100%;
    display: grid;
    height: auto;
    grid-template: "slider" "gallery" "side";
    column-gap: 10px;
    margin-bottom: 100px;
}
.nav-wrapper{
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: white;
}
#nav-bar-top{
    z-index: 9;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    
}
#grid-text-box{
    letter-spacing: 40px;
    font-weight: 800;
    margin: auto;
    height: 20px;
    margin-top: 80px;
    position: relative;
    width: 60vw;
}
#grid-text-box #text-descrip-grid{
    font-size: larger;
    padding: 5px;
}
.lander{
    position: relative;
    top: 20px;
    background-color: black;
    height: 100vh;
    width: 100%;
}
#intro{
    background-color: brown;
    width: 100px;
    height: 200px; 
}
#nav-tittle-container{
    font-family: myFirstFont;
    margin: auto;
    width: 40%;
    margin-top: 50px;
    height: 150px;
    background-color: rgb(42, 140, 165);
}
#nav-text-container{
    font-family: 'Oswald', sans-serif;
    position: relative;
    font-size: 20px;
    margin: auto;
    margin-top: 53px;
    width: 50%;
    height: 180px;
    background-color: brown;
}
#search-box{
    
    height: 25px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
#search-br{
    border-top: 1px solid rgb(71, 71, 71);
    z-index: 10;
    background-color: rgb(37, 36, 36);
    width: 100%;
    height: 50px;
    grid-area: search;
}
.no-stick{
    position: absolute;
    background-color: rgba(170, 170, 170, 0);
    top: 40px;
}
.sticky{
    position: fixed;
    top:0px;
    width: 100%;
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  z-index: 9;
  background-color: rgb(107, 105, 105);
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css')
*{
    box-sizing: border-box;
}
body{
    background: #292929;
    text-align: center;
}

#header{
  padding-left:  20px;
  display: inline-block;
  margin: auto;
  margin-left: 20px;
  width: auto;
  height: 300px;
  white-space: nowrap;
  font-size: 0;
  position: relative;
  overflow: hidden;
    
}
#header h1{
  font-size: 60px;
  position: relative;
  font-family: 'Abril Fatface', cursive;
  float: left;
  color: rgb(182, 182, 182);
}
#header p{
  font-size: 20px;
  text-align: left;
  float: left;
  color: rgb(182, 182, 182);

}
#header span{
  font-size:  15px;
  text-align: left;
  float: left;
  color: rgb(131, 128, 128);

}


.left-side-bar{
    grid-area: left;
    width: 300px;
    height: 1300px; 
}
.right-side-bar{
    grid-area: right;
    width: 400px;
    font-family: 'Prata', serif;
    color: rgba(128, 125, 125, 0.61);
    border-left: 1px solid rgba(128, 125, 125, 0.61);
    height: 1300px; 
}
.right-side-bar h1{
  font-family: 'Abril Fatface', cursive;
  font-weight: 500;
  font-size: 25px;
}
.myGallery {
    padding: 40px;
    grid-area: center;
    display: grid;
    grid-gap: 52px;
    grid-row-gap: 52px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  }
  
  .myGallery img {
    transition: all .2s ease-in-out; 
    box-shadow: 4px 2px 65px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 2px 65px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 2px 65px -4px rgba(0,0,0,0.75);
    width: 130%;
    height: 40%
  }
  .myGallery img:hover{
    transform: scale(1.1);
  }
  .myGallery .item {
    box-shadow: 4px 2px 65px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 2px 65px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 2px 65px -4px rgba(0,0,0,0.75);
    background-color: rgba(227, 233, 233, 0.068);
    z-index: 0;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    height: 300px;
    transition: all .2s ease-in-out; 
    position: relative;
  }
  .myGallery .item img {
    float: left;
    width: 300px;
    height: 200px;
    vertical-align: middle;
  }
  .back{
      z-index: -1;
      position: relative;
      top: 0px;
      left: 20px;
      width: 276px;
      border-bottom: 1px solid rgb(71, 71, 71);
      height: 120px;
  }
  .author{
    font-weight: 600;
    margin: 0;
    padding: 1em;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 5px;
    top: 220px;
    text-align: left;
    font-size: 14px;
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0);
    color: rgb(153, 151, 151);
  }
  .post-time{
    margin: 0;
    padding: 1em;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 5px;
    top: 237px;
    text-align: left;
    font-size: 14px;
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
    color: rgb(136, 133, 133);
  }
  .myGallery .caption {
    margin: 0;
    padding: 1em;
    font-family: 'Prata', serif;
    position: absolute;
    font-weight: 500;
    z-index: 1;
    bottom: 0;
    left: 349px;
    top: 10px;
    width: 100%;
    text-align: left;
    max-height: 100%;
    box-sizing: border-box;
    font-size: 14px;
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
  }
  
  .myGallery .description{
    margin: 0;
    padding: 1em;
    position: absolute;
    font-weight: 400;
    z-index: 1;
    bottom: 0;
    left: 349px;
    top: 30px;
    width: 250px;
    height: 250px;
    text-align: left;
    max-height: 100%;
    box-sizing: border-box;
    font-size: 14px;
    background: rgba(0, 0, 0, 0);
    color: rgb(136, 133, 133);
  }
  
  .myGallery .item:hover .caption {
    transform: translateY(0%);
  }
  .myGallery .item:hover ~ image{
    z-index: 0;
    transform: scale(1.2);
  }

  @import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;900&display=swap");
  
  
  h1,
  p {
    text-align: center;
  }
  
  .myGallery {
    position: relative;
    left: 0px;
    width: auto;
    margin-top: 20px;
    font-size: 1rem;
  }
  .footer-wrapper{
      padding: 20px;
      overflow-y: hidden;
      position: relative;
      width: 100%;
      height: 300px;
      background-color:black;
  }
  i {
	margin-right: 10px;
}
.navbar-logo{
    position: relative;
    font-family: MyWebFont;
    font-size: 50px;
    margin-top: 10px;
    left: 250px;
	padding: 15px;
	color: rgb(0, 0, 0);
}
.navbar-mainbg{
	background-color: rgb(37, 36, 36);
	padding: 0px;
}
#navbarSupportedContent{
    margin-left: 200px;
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
    
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
    
	margin-right: 10px;
}
#navbarSupportedContent li {
    
	list-style-type: none;
    margin-top:-10px;
    margin-left: -10px;
	float: left;
}
#navbarSupportedContent ul li a{
    
    z-index: 12;
	color: rgba(255, 255, 255, 0.479);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #ffffff;
    margin-left: -10px;
	background-color: transparent;
	transition: all 0.7s;
}

.hori-selector{
	display:inline-block;
	position:absolute;
	height: 70px;
	left: 0px;
    z-index: 11;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-top: 1px solid rgba(71, 71, 71, 0.096);
	margin-top: 9px;
}


@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
    .body{
        grid-template:  "account search search search" "account slider slider blank" "account center center right" "account center center right" "account center1 center1 right" "account center1 center1 right";

    }
    
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
        
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}

}
nav{
    font-family: 'Roboto', sans-serif;
    top: 0px;
}
#ftr-left{
    background-color: black;
    position: relative;
    width: 30%;
    float: left;
    height: 100%;
}
#ftr-right{
    background-color: black;
    position: relative;
    top: -100%;
    width: 30%;
    float: right;
    height: 100%;
}
#ftr-center{
    color: rgba(255, 255, 255, 0.486);
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    position: relative;
    margin: auto;
    width: 40%;
    height: 100%;
}
#cntr-ftr-tittle{

    background-color: rgb(0, 0, 0);
    height: 50px;
    width: auto;
}
#cntr-ftr-tittle h1{
    position: relative;
    color: white;
    font-family: MywebFont;
    font-size: 60px;
    top: -20px;
}
#cntr-ftr-content{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    height: 100%;
    width: auto;
}
aside{
    background-color: rgb(37, 36, 36);
    position: relative;
    top: -50px;
    grid-area: account ;
    z-index: 12;
    width: 200px;

}
#account{
    height: 107.9%;
}
.ham.active{
    background-color: rgba(255, 255, 255, 0);
}
.ham {
    position: absolute;
    z-index: 13;
    width: 50px;
    left: -180px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    background-color: rgba(255, 255, 255, 0);
    transform: rotate(45deg);
  }
  .hamRotate180.active {
      
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
    stroke:rgba(255, 255, 255, 0.61);
    stroke-width:3.3;
    stroke-linecap:round;
  }
  .ham6 .top {
    stroke-dasharray: 40 172;
  }
  .ham6 .middle {
    stroke-dasharray: 40 111;
  }
  .ham6 .bottom {
    stroke-dasharray: 40 172;
  }
  .ham6.active .top {
    stroke-dashoffset: -132px;
  }
  .ham6.active .middle {
    stroke-dashoffset: -71px;
  }
  .ham6.active .bottom {
    stroke-dashoffset: -132px;
  }