@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@font-face {font-family: "MyWebFont"; src: url("//db.onlinewebfonts.com/t/02d0c55246be027455d79356f31ff7c2.eot"); src: url("//db.onlinewebfonts.com/t/02d0c55246be027455d79356f31ff7c2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/02d0c55246be027455d79356f31ff7c2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/02d0c55246be027455d79356f31ff7c2.woff") format("woff"), url("//db.onlinewebfonts.com/t/02d0c55246be027455d79356f31ff7c2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/02d0c55246be027455d79356f31ff7c2.svg#MysteryEF") format("svg"); }
@font-face {font-family: "MyWebFont2"; src: url("//db.onlinewebfonts.com/t/0bf423318c95d14a48c0a056c4beaae5.eot"); src: url("//db.onlinewebfonts.com/t/0bf423318c95d14a48c0a056c4beaae5.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0bf423318c95d14a48c0a056c4beaae5.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0bf423318c95d14a48c0a056c4beaae5.woff") format("woff"), url("//db.onlinewebfonts.com/t/0bf423318c95d14a48c0a056c4beaae5.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0bf423318c95d14a48c0a056c4beaae5.svg#MysteryEF") format("svg"); }
.form-control::placeholder {
    
    font-size: 1.5rem;
    color: #aaa;
    font-style: italic;
  }
body{
    font-family: 'Roboto', sans-serif;
    background-color: #525050;
    overflow-x: hidden;
}
input{

    margin-top: 8px;
    margin-left: 8px;
    height: 20px;
}
#search-addon{
    left: 240px;
    margin-top: 5px;
    border: 1px solid rgb(71, 71, 71);
    background-color: rgba(255, 255, 255, 0.096);
}
.input-group-text{
    position: relative;
    border-radius: 0px 3px 3px 0px;
    padding: 8px;
    float: right;
    left: 40px;
    top: -39px;
    height: 34px;
    width: 30px;
    background-color: white;
}
.srch{
    width: 400px;
    
}
.form-control{
    border-radius: 0 0 0 0;
    border: none;
    left: 200px;
    border: 1px solid rgb(71, 71, 71);
    background-color: rgba(10, 10, 10, 0.5);
}
.srch-color{
    width: 200px;
}
.body-wrapper{
    margin: auto;
    position: relative;
    background-color: #111111;
    top: -10px;
    width: 100%;
    display: grid;
    height: auto;
    grid-template: "slider" "gallery" "side";
    column-gap: 10px;
}
.nav-wrapper{
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: rgb(37, 36, 36);
}
#nav-bar-top{
    z-index: 9;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    
}
#grid-text-box{
    letter-spacing: 40px;
    font-weight: 800;
    margin: auto;
    height: 20px;
    margin-top: 80px;
    position: relative;
    width: 60vw;
}
#grid-text-box #text-descrip-grid{
    font-size: larger;
    padding: 5px;
}
.lander{
    position: relative;
    top: 20px;
    background-color: black;
    height: 100vh;
    width: 100%;
}
#intro{
    background-color: brown;
    width: 100px;
    height: 200px; 
}
#nav-tittle-container{
    font-family: myFirstFont;
    margin: auto;
    width: 40%;
    margin-top: 50px;
    height: 150px;
    background-color: rgb(42, 140, 165);
}
#nav-text-container{
    font-family: 'Oswald', sans-serif;
    position: relative;
    font-size: 20px;
    margin: auto;
    margin-top: 53px;
    width: 50%;
    height: 180px;
    background-color: brown;
}
#search-box{
    
    height: 25px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
#search-br{
    border-top: 1px solid rgb(71, 71, 71);
    z-index: 10;
    background-color: rgb(37, 36, 36);
    width: 100%;
    height: 50px;
    grid-area: search;
}
.no-stick{
    position: absolute;
    background-color: rgba(170, 170, 170, 0);
    top: 40px;
}
.sticky{
    position: fixed;
    top:0px;
    width: 100%;
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  z-index: 9;
  background-color: rgb(107, 105, 105);
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css')
*{
    box-sizing: border-box;
}
body{
  background-color: #111111;
    text-align: center;
}
#circle {
  width: 70px;
  position: relative;
  top: 15px;
  left: 40px;
  height: 70px;
  background-image: url("https://th.bing.com/th/id/R.653f93c3cb58cb7f21b6a721ebdbec19?rik=dDXT3D3c%2bSRfNg&riu=http%3a%2f%2fwww.repol.copl.ulaval.ca%2fwp-content%2fuploads%2f2019%2f01%2fdefault-user-icon.jpg&ehk=5SV6bh5JXp3uM9swhors3LcaN1Iskv0xBV%2f7Hnq40s4%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1");
  background-size:contain;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
#username{
  position: relative;
  color: rgb(182, 182, 182);
  top: 20px;
}
#acnt-container{
  text-align: center;
  position: relative;
  top: 50px;
  height: 120px;
}
#acnt-settings-cnt{
  color: rgb(182, 182, 182);
  text-align: center;
  position: relative;
  top: 50px;
  height: 50px;
  overflow: hidden;
}
#acnt-upload-cnt{
  color: rgb(182, 182, 182);
  text-align: center;
  position: relative;
  top: 50px;
  height: 50px;
  overflow: hidden;
}
#sett-icon{
  position: absolute;
  top: 12px;
  margin-left: -50px;
}
#Upload-icon{
  position: absolute;
  top: 12px;
  margin-left: -50px;
}
#acnt-settings-cnt span{
  position: absolute;
  margin-left: -20px;
  top: 14px;
}
#acnt-upload-cnt span{
  position: absolute;
  margin-left: -20px;
  top: 14px;
}
#acnt-upload-cnt i{
  font-size: 20px;
}
#header{
  padding-left:  20px;
  display: inline-block;
  margin: auto;
  margin-left: 20px;
  width: auto;
  height: 300px;
  white-space: nowrap;
  font-size: 0;
  position: relative;
  overflow: hidden;
    
}
#header h1{
  font-size: 60px;
  position: relative;
  font-family: 'Abril Fatface', cursive;
  float: left;
  color: rgb(182, 182, 182);
}
#header p{
  font-size: 20px;
  text-align: left;
  float: left;
  color: rgb(182, 182, 182);

}
#header span{
  font-size:  15px;
  text-align: left;
  float: left;
  color: rgb(131, 128, 128);

}


.left-side-bar{
    grid-area: left;
    width: 300px;
    height: 1300px; 
}
.right-side-bar{
    grid-area: right;
    width: 400px;
    font-family: 'Prata', serif;
    color: rgba(128, 125, 125, 0.61);
    border-left: 1px solid rgba(128, 125, 125, 0.61);
    height: 1300px; 
}
.right-side-bar h1{
  font-family: 'Abril Fatface', cursive;
  font-weight: 500;
  font-size: 25px;
}
.myGallery {
    padding: 40px;
    grid-area: center;
    display: grid;
    grid-gap: 52px;
    grid-row-gap: 52px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .myGallery .item ul{
    list-style: none;
    
  }  
  #ArchiveList ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
    border-width: 0;
}
  .myGallery .item ul li{
    position: relative;
    top: 218px;
    left: -190px;
    padding: 5px;
    color: rgb(153, 151, 151);
    box-shadow: 4px 2px 65px -4px rgba(0, 0, 0, 0.829);
    -webkit-box-shadow: 4px 2px 65px -4px rgba(0, 0, 0, 0.87);
    -moz-box-shadow: 4px 2px 65px -4px rgba(0,0,0,0.75);
    border: 1px solid rgb(71, 71, 71);
    border-radius: 10px;
    float: left;
    margin-left: 10px;

  }
  .myGallery img {
    transition: all .2s ease-in-out; 
    box-shadow: 4px 2px 65px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 2px 65px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 2px 65px -4px rgba(0,0,0,0.75);
    width: 100px;
    height: 40%;
  }
  .myGallery img:hover{
    transform: scale(1.1);
  }
  .myGallery .item {
    margin: 0 auto ; 
    box-shadow: 4px 2px 65px -4px rgba(0,0,0,0.75);
  -webkit-box-shadow: 4px 2px 65px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 2px 65px -4px rgba(0,0,0,0.75);
    background-color: rgba(227, 233, 233, 0.068);
    z-index: 0;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    height: 300px;
    transition: all .2s ease-in-out; 
    position: relative;
    overflow: hidden;
  }
  .myGallery .item img {
    float: left;
    width: 360px;
    height: 200px;
    vertical-align: middle;
  }
  .back{
      z-index: -1;
      position: relative;
      top: 0px;
      left: 20px;
      width: 276px;
      border-bottom: 1px solid rgb(71, 71, 71);
      height: 120px;
  }
  .author{
    font-weight: 600;
    margin: 0;
    padding: 1em;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 5px;
    top: 220px;
    text-align: left;
    font-size: 14px;
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0);
    color: rgb(153, 151, 151);
  }
  .post-time{
    margin: 0;
    padding: 1em;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 5px;
    top: 237px;
    text-align: left;
    font-size: 14px;
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
    color: rgb(136, 133, 133);
  }
  .myGallery .caption {
    margin: 0;
    padding: 1em;
    font-family: 'Prata', serif;
    position: absolute;
    font-weight: 500;
    z-index: 1;
    bottom: 0;
    left: 349px;
    top: 10px;
    width: 100%;
    text-align: left;
    max-height: 100%;
    box-sizing: border-box;
    font-size: 14px;
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
  }
  
  .myGallery .description{
    margin: 0;
    padding: 1em;
    position: absolute;
    font-weight: 400;
    z-index: 1;
    bottom: 0;
    left: 349px;
    top: 30px;
    width: 250px;
    height: 250px;
    text-align: left;
    max-height: 100%;
    box-sizing: border-box;
    font-size: 14px;
    background: rgba(0, 0, 0, 0);
    color: rgb(136, 133, 133);
  }
  
  .myGallery .item:hover .caption {
    transform: translateY(0%);
  }
  .myGallery .item:hover ~ image{
    z-index: 0;
    transform: scale(1.2);
  }

  @import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;900&display=swap");
  
  
  h1,
  p {
    text-align: center;
  }
  
  .myGallery {
    position: relative;
    left: 0px;
    width: auto;
    margin-top: 20px;
    font-size: 1rem;
  }
  .footer-wrapper{
      padding: 20px;
      overflow-y: hidden;
      position: relative;
      z-index:21;
      width: 100%;
      top: 0px;
      height: 500px;
      background-color: rgb(34, 33, 33);
  }
  i {
	margin-right: 10px;
}
.navbar-logo{
    position: relative;
    font-family: MyWebFont;
    font-size: 50px;
    margin-top: 10px;
    left: 250px;
	padding: 15px;
	color: rgb(182, 182, 182);
}
.navbar-mainbg{
	background-color: rgb(37, 36, 36);
	padding: 0px;
}
#navbarSupportedContent{
    margin-left: 200px;
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
    
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
    
	margin-right: 10px;
}
#navbarSupportedContent li {
    
	list-style-type: none;
    margin-top:-10px;
    margin-left: -10px;
	float: left;
}
#navbarSupportedContent ul li a{
    
    z-index: 12;
	color: rgba(255, 255, 255, 0.479);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #ffffff;
    margin-left: -10px;
	background-color: transparent;
	transition: all 0.7s;
}

.hori-selector{
	display:inline-block;
	position:absolute;
	height: 70px;
	left: 0px;
    z-index: 11;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-top: 1px solid rgba(71, 71, 71, 0.096);
	margin-top: 9px;
}
@media(min-width: 480px){
  .body-wrapper{
    top: 40px;
  }
  .no-stick{
    top: 180px;
  } 
  .hori-selector{
    height: 200;
  }
  .nav-wrapper{
    
    height: 200px;  
}
} 
@media(min-width: 680px){
  .body-wrapper{
    top: 40px;
  }
  .no-stick{
    top: 130px;
  }
  .hori-selector{
    height: 140;
  }
  .nav-wrapper{
    height: 140px;
}
}
@media(max-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
    .body-wrapper{
        grid-template:  "account search search search" "account slider slider blank" "account center center right" "account center center right" "account center1 center1 right" "account center1 center1 right";

    }
    
}
@media(max-width: 1290px) {
  
  .no-stick{
    top: 13x0px;
  }
}
@media(min-width: 900px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
  .myGallery .item {
    width: 400px;
    height: 500px;
  }
  .myGallery .item ul li{
    left: -50px;
    border-radius: 10px;
    float: left;
    margin-left: 10px;

  }
.myGallery .caption {
  left: 9px;
  top: 270px;
}

.myGallery .description{
  left: 9px;
  top: 290px;
}

    .body-wrapper{
        grid-template:  "account search search search" "account slider slider blank" "account center center right" "account center center right" "account center1 center1 right" "account center1 center1 right";

    }
    .no-stick{
      top: 90px;
  }
  }
  @media(min-width: 1100px) {

    .myGallery{
      grid-column-gap: 50px;
      left: 9px;
      top: 0px;
    }
  }
  @media(min-width: 1200px) {

    .myGallery{
      position: relative;
      grid-column-gap: 50px;
      left: 9px;
      top: 0px;
    }
    .no-stick{
      top: 50px;
  }
  .nav-wrapper{
   height: 50px;
  }

  }

nav{
    font-family: 'Roboto', sans-serif;
    top: 0px;
}
#ftr-left{
  background-color: rgb(34, 33, 33);
  position: relative;
  width: 30%;
  float: left;
  height: 100%;
}
#ftr-right{
  background-color: rgb(34, 33, 33);
  position: relative;
  top: -100%;
  width: 30%;
  float: right;
  height: 100%;
}
#ftr-center{
  background-color: rgb(34, 33, 33);
  border-left: 1px solid rgb(71, 71, 71);
  border-right: 1px solid rgb(71, 71, 71);
  padding: 20px;
  position: relative;
  margin: auto;
  width: 40%;
  height: 100%;
}
#cntr-ftr-tittle{
  font-family: 'Abril Fatface', cursive;
  background-color: rgb(34, 33, 33);
  height: 50px;
    width: auto;
}
#cntr-ftr-tittle h1{
  position: relative;
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-size: 60px;
  top: -20px;
}
#cntr-ftr-content{
  color: rgba(255, 255, 255, 0.39);
  background-color: rgb(34, 33, 33);
  padding: 20px;
  height: 100%;
  width: auto;
}
aside{
    background-color: rgb(37, 36, 36);
    position: relative;
    top: -50px;
    grid-area: account ;
    z-index: 12;
    width: 150px;
}
#account{
    height: 107.9%;
}
.ham.active{
    background-color: rgba(255, 255, 255, 0);
}
.ham {
    position: absolute;
    z-index: 13;
    width: 50px;
    left: -180px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    background-color: rgba(255, 255, 255, 0);
    transform: rotate(45deg);
  }
  .hamRotate180.active {
      
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
    stroke:rgba(255, 255, 255, 0.61);
    stroke-width:3.3;
    stroke-linecap:round;
  }
  .ham6 .top {
    stroke-dasharray: 40 172;
  }
  .ham6 .middle {
    stroke-dasharray: 40 111;
  }
  .ham6 .bottom {
    stroke-dasharray: 40 172;
  }
  .ham6.active .top {
    stroke-dashoffset: -132px;
  }
  .ham6.active .middle {
    stroke-dashoffset: -71px;
  }
  .ham6.active .bottom {
    stroke-dashoffset: -132px;
  }
  .login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
      
    padding: 12px 16px 40px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    float: right;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    width: 200px;
    height: 60px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: rgb(49, 48, 48);
    background-repeat: no-repeat;
    background-position: 12px 11px;

  }
      
  .login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  }
  
  .login-with-google-btn:active {
    background-color: #eeeeee;
  }
  
  .login-with-google-btn:focus {
    outline: none;
    box-shadow: 
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }
  
  .login-with-google-btn:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
  }
  
.article-upload{
  position: fixed;
  width: 100%;
  height: 100%;
  background:conic-gradient(from 90deg at 50% 50%, rgba(255, 88, 88, 0.336) 0%, rgba(255, 192, 98, 0.336) 7%, rgba(255, 228, 94, 0.336) 14%, rgba(164, 253, 90, 0.336) 29%, rgba(90, 255, 157, 0.336) 37%, rgba(91, 255, 199, 0.336) 44%, rgba(92, 253, 255, 0.336) 49%, rgba(86, 173, 255, 0.336) 55%, rgba(89, 127, 255, 0.336) 65%, rgba(112, 89, 255, 0.336) 71%, rgba(145, 85, 255, 0.336) 78%, rgba(145, 90, 255, 0.336) 84%, rgba(214, 94, 255,  0.336) 89%, rgba(255, 70, 195, 0.336) 94%, rgba(255, 86, 91, 0.336) 100%);
  z-index: 30;
}