@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:ital,wght@0,100;0,300;1,100&display=swap');

a{
  color: #aaa;
}
@font-face {font-family: "MyWebFont"; src: url("//db.onlinewebfonts.com/t/02d0c55246be027455d79356f31ff7c2.eot"); src: url("//db.onlinewebfonts.com/t/02d0c55246be027455d79356f31ff7c2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/02d0c55246be027455d79356f31ff7c2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/02d0c55246be027455d79356f31ff7c2.woff") format("woff"), url("//db.onlinewebfonts.com/t/02d0c55246be027455d79356f31ff7c2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/02d0c55246be027455d79356f31ff7c2.svg#MysteryEF") format("svg"); }
@font-face {font-family: "MyWebFont2"; src: url("//db.onlinewebfonts.com/t/0bf423318c95d14a48c0a056c4beaae5.eot"); src: url("//db.onlinewebfonts.com/t/0bf423318c95d14a48c0a056c4beaae5.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0bf423318c95d14a48c0a056c4beaae5.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0bf423318c95d14a48c0a056c4beaae5.woff") format("woff"), url("//db.onlinewebfonts.com/t/0bf423318c95d14a48c0a056c4beaae5.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0bf423318c95d14a48c0a056c4beaae5.svg#MysteryEF") format("svg"); }
.form-control::placeholder {
    
    font-size: 1.5rem;
    color: #aaa;
    font-style: italic;
  }
body{
  font-family: 'Abril Fatface', cursive;
  font-family: 'Raleway', sans-serif;
  background-color: #525050;
  overflow-x: hidden;
}
input{

    margin-top: 8px;
    margin-left: 8px;
    height: 20px;
}
#search-addon{
    left: 240px;
    margin-top: 5px;
    border: 1px solid rgb(71, 71, 71);
    background-color: rgba(255, 255, 255, 0.096);
}
.input-group-text{
    position: relative;
    border-radius: 0px 3px 3px 0px;
    padding: 8px;
    float: right;
    left: 40px;
    top: -39px;
    height: 34px;
    width: 30px;
    background-color: white;
}
.srch{
    width: 400px;
    
}
.form-control{
    border-radius: 0 0 0 0;
    border: none;
    left: 200px;
    border: 1px solid rgb(71, 71, 71);
    background-color: rgba(10, 10, 10, 0.5);
}
.srch-color{
    width: 200px;
}
.body-wrapper{
    margin: auto;
    position: relative;
    background-color: #111111;
    top: -10px;
    width: 100%;
    display: grid;
    height: auto;
    grid-template: "slider" "gallery" "side";
    column-gap: 10px;
}
.navbar-wrapper{
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: rgb(37, 36, 36);
}
#navbar-top{
  position: relative;
  z-index: 41;
  height: 60px;
  background-color: rgb(255, 255, 255);
  left: 5000px;  
}
#grid-text-box{
    letter-spacing: 40px;
    font-weight: 800;
    margin: auto;
    height: 20px;
    margin-top: 80px;
    position: relative;
    width: 60vw;
}
#grid-text-box #text-descrip-grid{
    font-size: larger;
    padding: 5px;
}
.lander{
    position: relative;
    top: 20px;
    background-color: black;
    height: 100vh;
    width: 100%;
}
#intro{
    background-color: brown;
    width: 100px;
    height: 200px; 
}
#nav-text-container{
    font-family: 'Oswald', sans-serif;
    position: relative;
    font-size: 20px;
    margin: auto;
    margin-top: 53px;
    width: 50%;
    height: 180px;
    background-color: brown;
}
#search-box{
  height: 25px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
#search-br{
  z-index: 41;
  border-top: 1px solid rgb(71, 71, 71);
  background-color: rgb(37, 36, 36);
  width: 100%;
  height: 50px;
  grid-area: search;
}
.no-stick{
    position: absolute;
    background-color: rgba(170, 170, 170, 0);
    z-index: 40;
    top: -200px;
    left: 4000px;
}

* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  z-index: 9;
  background-color: rgb(107, 105, 105);
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css')
*{
    box-sizing: border-box;
}
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  background-color: #111111;
}
#user-icon {
  width: 70px;
  position: relative;
  top: 15px;
  left: 40px;
  height: 70px;
  background-image: url("https://th.bing.com/th/id/R.653f93c3cb58cb7f21b6a721ebdbec19?rik=dDXT3D3c%2bSRfNg&riu=http%3a%2f%2fwww.repol.copl.ulaval.ca%2fwp-content%2fuploads%2f2019%2f01%2fdefault-user-icon.jpg&ehk=5SV6bh5JXp3uM9swhors3LcaN1Iskv0xBV%2f7Hnq40s4%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1");
  background-size:contain;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
#username{
  position: relative;
  color: rgb(182, 182, 182);
  top: 20px;
}
#account-user-container{
  text-align: center;
  position: relative;
  top: 50px;
  height: 120px;
}
#account-settings-container,#account-upload-container, #account-admin-container{
  color: rgb(182, 182, 182);
  text-align: center;
  position: relative;
  top: 50px;
  height: 50px;
  overflow: hidden;
}
#sett-icon, #admin-icon, #Upload-icon{
  font-size: 20px;
  position: absolute;
  top: 12px;
  margin-left: -50px;
}
#admin-icon{
  top: 13px;
  font-size: 15px;
  margin-left: -47px;
  font-weight: 800;
}
#account-settings-container span, #account-upload-container span, #account-admin-container span{
  position: absolute;
  margin-left: -20px;
  top: 14px;
}
#account-upload-container i{
  font-size: 20px;
}
.header-container{
  grid-area: slider;
  height: fit-content;
}
#header-container-theAssignment{
  grid-area: center;
}
#header{
  display: grid;
  position: relative;
  grid-template: "h" "p" "s";
  margin-left: 20px;
  overflow: hidden;
  width: 100%;
  font-size: 0;
  padding-top: 0px;
  padding: 50px;
}
#article-header{
  display: grid;
  position: relative;
  grid-template: "d" "h" "p" "s";
  overflow: hidden;
  width: 100%;
  font-size: 0;
  padding-top: 0px;
  grid-area: title;
}
#article-header-date{
  position: relative;
  grid-area: d;
  text-align: left;
  width: 100%;
  font-size: 20px;
  top: 15px;
  padding-top: 30px;
  padding-left: 30px;
  color: rgb(182, 182, 182);
}
#article-header-title{
  font-size: 50px;
  text-align: left;
  font-family: 'Abril Fatface', cursive;
  
  position: relative;
  grid-area: h;
}
#article-header-p{
  position: relative;
  grid-area: p;
  margin: 0 auto;
  text-align: left;
  width: 100%;
  font-size: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
  color: rgb(182, 182, 182);
 }
.article-footer{
  background-color: #757575;
  width: 100%;
  grid-area: body;
  position: relative;
  padding: 10px;
  height: 40px;
  z-index: 60;
  top: 100%;
}
.article-footer span{
  color: black;
  float: left;
}
.comment-section, .comment-section-article{
  margin-top: 100px;
  position: relative;
  height: fit-content;
  padding: 50px;
  display: grid;
  grid-template-areas: "comments" "form";
  background-color: rgb(37, 36, 36);

}
.comment-section{
  grid-area: center;
}
.comment-section-article{
  grid-area: comment;

}
#comment{
  grid-area: comments;
  
}
#header h2{
  font-size: 20px;
  left: 10%;
  grid-area: h;
  top: 70px;
  text-align: right;
  position: relative;
  text-align: left;
  font-family: 'Abril Fatface', cursive;
  color: rgba(202, 199, 199, 0.658);
}
#header h1{
  font-size: 60px;
  grid-area: h;
  position: relative;
  text-align: left;
  width: max-content;
  font-family: 'Abril Fatface', cursive;
  color: rgb(182, 182, 182);
}
#header p{
  font-size: 20px;
  grid-area: p;
  text-align: left;
  padding: 20px;
  overflow: hidden;
  float: left;
  color: rgb(182, 182, 182);

}
.nav-link ul{
  list-style: none;
  
}
.nav-item{
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}
#header span{
  grid-area: s;
  font-size:  15px;
  text-align: left;
  float: left;
  padding: 10px;
  color: rgb(131, 128, 128);
}

#header span:nth-child(3){
  color: rgb(231, 231, 231);
}


.left-side-bar{
    grid-area: left;
    width: 300px;
    height: 1300px; 
}
.archives{
  padding-top: 200px;
  padding-left: 50px;
    grid-area: right;
    z-index: 0;
    margin-bottom: 300px;
    margin-top: 300px;
    width: 300px;
    font-family: 'Prata', serif;
    color: rgb(182, 182, 182);
    border-left: 1px solid rgba(128, 125, 125, 0.61);
    top: 100px;
    min-height: 2000px; 
}
.archives h1{
  font-family: 'Abril Fatface', cursive;
  font-weight: 500;
  font-size: 25px;
}
.myGallery {
    top: 100px;
    grid-area: center;
    display: grid;
    grid-gap: 90px;
    grid-row-gap: 100px;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    position: relative;
    margin-right: 100px;
    height:fit-content;
    margin-top: 20px;
    font-size: 1rem;
  }
  .myGallery .item ul{
    list-style: none;
  }  
  #ArchiveList ul {
    list-style: none;

    list-style-image: none;
    border-width: 0;
}
.myGallery .item ul li{
    position: relative;
    padding: 5px;
    right: 40px;
    color: rgb(153, 151, 151);
    box-shadow: 4px 2px 65px -4px rgba(0, 0, 0, 0.829);
    -webkit-box-shadow: 4px 2px 65px -4px rgba(0, 0, 0, 0.87);
    -moz-box-shadow: 4px 2px 65px -4px rgba(0,0,0,0.75);
    border: 1px solid rgb(71, 71, 71);
    border-radius: 10px;
    float: left;
  }
  .myGallery img {
    transition: all .2s ease-in-out; 
    box-shadow: 4px 2px 65px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 2px 65px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 2px 65px -4px rgba(0,0,0,0.75);
    width: 100px;
    height: 40%;
  }
  .myGallery img:hover{
    transform: scale(1.1);
  }
  .myGallery .item {
    margin: 0 auto ; 
    box-shadow: 4px 2px 65px -4px rgba(0,0,0,0.75);
  -webkit-box-shadow: 4px 2px 65px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 2px 65px -4px rgba(0,0,0,0.75);
    background-color: rgba(227, 233, 233, 0.068);
    z-index: 0;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    transition: all .2s ease-in-out; 
    position: relative;
    overflow: hidden;
  }
  .myGallery .item img {
    float: left;
    min-width: 100%;
    height: auto;
    vertical-align: middle;
  }
  .back{
      z-index: -1;
      position: relative;
      top: 0px;
      left: 20px;
      width: 276px;
      border-bottom: 1px solid rgb(71, 71, 71);
      background-color: rgb(228, 39, 39);
      height: 120px;
  }

  #author{
    font-weight: 600;
    margin-top: 15px;
    position: relative;
    z-index: 1;
    bottom: 0;
    float: left;
    text-align: left;
    font-size: 14px;
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0);
    color: rgb(153, 151, 151);
  }
  #date{
    margin: 0;
    position: relative;
    z-index: 1;
    bottom: 0;
    float: left;
    text-align: left;
    font-size: 14px;
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
    color: rgb(136, 133, 133);
  }
  .myGallery #title {
    font-family: 'Prata', serif;
    font-weight: 500;

    width: 100%;
  }
  #hiddenHtml{
    visibility: hidden;
  }
  #title{
    position: relative;
    margin-top: 15px;
    z-index: 1;
    bottom: 0;
    float: left;
    text-align: left;
    box-sizing: border-box;
    font-size: 14px;
    background: rgba(0, 0, 0, 0);
    color: rgb(136, 133, 133);
  }
  #description{
    position: relative;
    z-index: 1;
    bottom: 0;
    height: 250px;
    text-align: left;
    max-height: 100%;
    box-sizing: border-box;
    font-size: 14px;
    background: rgba(0, 0, 0, 0);
    color: rgb(136, 133, 133);
  }  
  
  .myGallery .item:hover #title {
    transform: translateY(0%);
  }
  .myGallery .item:hover ~ image{
    z-index: 0;
    transform: scale(1.2);
  }

  @import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;900&display=swap");
  
  



  .footer-wrapper{
      padding: 20px;
      overflow-y: hidden;
      grid-area: footer;
      z-index:42;
      width: 100%;
      top: 0px;
      height: 500px;
      background-color: rgb(34, 33, 33);
  }
  i {
	margin-right: 10px;
}
.navbar-logo{
    position: relative;
    font-family: MyWebFont;
    font-size: 50px;
    margin-top: 10px;
    left: 250px;
	padding: 15px;
	color: rgb(182, 182, 182);
}
.navbar-mainbg{
	background-color: rgb(37, 36, 36);
	padding: 0px;
}
#navbarSupportedContent{
    margin-left: 200px;
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
    
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
    
	margin-right: 10px;
}
#navbarSupportedContent li {
    
	list-style-type: none;
    margin-top:-10px;
    margin-left: -10px;
	float: left;
}
#navbarSupportedContent ul li a{
    
    z-index: 12;
	color: rgba(255, 255, 255, 0.479);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #ffffff;
    margin-left: -10px;
	background-color: transparent;
	transition: all 0.7s;
}

.hori-selector{
	display:inline-block;
	position:absolute;
	height: 70px;
  z-index: 11;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-top: 1px solid rgba(71, 71, 71, 0.096);
	margin-top: 9px;
}

@media(min-width: 480px){
  
  .body-wrapper{
    top: 40px;
  }
  .no-stick{
    top: 180px;
  } 
  .hori-selector{
    height: 200;
  }
  .navbar-wrapper{
    
    height: 200px;  
}
} 
@media(min-width: 680px){

  .body-wrapper{
    top: 40px;
  }
  .no-stick{
    top: 130px;
  }
  .hori-selector{
    height: 140;
  }
  .navbar-wrapper{
    height: 140px;
  }

} 
@media(max-width: 992px){

	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
    .body-wrapper{
        grid-template:  
        "account search blank"
        "account slider  right"
        "account center  right"
        "footer footer footer";
    }
    
}
@media(max-width: 1200px) {
  #welcome-message{
    margin-top: 40px;
  } 
  .no-stick{
    top: 130px;
  }
}
@media(min-width: 900px){
  
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
  .myGallery .item {
    width: 400px;
    height: auto;
  }
  .body-wrapper{
    grid-template:  
        "account search search" 
        "account slider right"
        "account center  right"
        "footer footer footer";
    grid-template-rows: auto 400px auto auto ;
    grid-template-columns: .5fr auto 300px;
}

.myGallery .description{
  left: 9px;
}


  .no-stick{
     top: 90px;
  }
  }
  @media(min-width: 1100px) {
    
    .myGallery{
      
      grid-column-gap: 100px;
      left: 9px;
      top: 0px;
    }

  }
  @media(max-width: 1100px){
    .archives{
      visibility: hidden;
    }
  }
  @media(min-width: 1200px) {

    .myGallery{
      position: relative;
      grid-column-gap: 90px;
      left: 9px;
    }
    .no-stick{
      top: 50px;
  }
  .navbar-wrapper{
   height: 50px;
  }

  }

nav{
    font-family: 'Roboto', sans-serif;
    top: 0px;
}
#ftr-left{
  background-color: rgb(34, 33, 33);
  position: relative;
  width: 30%;
  float: left;
  height: 100%;
}
#ftr-right{
  background-color: rgb(34, 33, 33);
  position: relative;
  top: -100%;
  width: 30%;
  float: right;
  height: 100%;
}
#ftr-center{
  background-color: rgb(34, 33, 33);
  border-left: 1px solid rgb(71, 71, 71);
  border-right: 1px solid rgb(71, 71, 71);
  padding: 20px;
  position: relative;
  margin: auto;
  width: 40%;
  height: 100%;
}
#cntr-ftr-title{
  font-family: 'Abril Fatface', cursive;
  background-color: rgb(34, 33, 33);
  height: 50px;
    width: auto;
}
#cntr-ftr-title h1{
  position: relative;
  color: rgb(182, 182, 182);
  font-family: 'Abril Fatface', cursive;
  font-size: 60px;
  top: -20px;
}
#cntr-ftr-content{
  color: rgb(182, 182, 182);
  background-color: rgb(34, 33, 33);
  padding: 20px;
  height: 100%;
  width: auto;
}
.account-container{
    background-color: rgb(37, 36, 36);
    position: relative;
    top: 1100px;
    grid-area: account ;
    z-index: 41;
    width: 150px;
    height: 107.9%;
}

.ham.active{
    background-color: rgba(255, 255, 255, 0);
}
.ham {
    position: absolute;
    z-index: 13;
    width: 50px;
    left: -180px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    background-color: rgba(255, 255, 255, 0);
    transform: rotate(45deg);
  }
  .hamRotate180.active {
      
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
    stroke:rgba(255, 255, 255, 0.61);
    stroke-width:3.3;
    stroke-linecap:round;
  }
  .ham6 .top {
    stroke-dasharray: 40 172;
  }
  .ham6 .middle {
    stroke-dasharray: 40 111;
  }
  .ham6 .bottom {
    stroke-dasharray: 40 172;
  }
  .ham6.active .top {
    stroke-dashoffset: -132px;
  }
  .ham6.active .middle {
    stroke-dashoffset: -71px;
  }
  .ham6.active .bottom {
    stroke-dashoffset: -132px;
  }
  .login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
      
    padding: 12px 16px 40px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    float: right;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    width: 200px;
    height: 60px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: rgb(49, 48, 48);
    background-repeat: no-repeat;
    background-position: 12px 11px;

  }
      
  .login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  }
  
  .login-with-google-btn:active {
    background-color: #eeeeee;
  }
  
  .login-with-google-btn:focus {
    outline: none;
    box-shadow: 
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }
  
  .login-with-google-btn:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
  }
article{
  background-color: #111111;
  color: rgb(182, 182, 182);
  position: relative;
  top: -500px;
  height: 100%;
  z-index: 1;
  display: grid;
  height: fit-content;
  grid-template-areas:
      "title title"
      "body body"
      "comment comment" ;
  grid-area: center;
  grid-template-rows: minmax(100px, max-content);
  grid-template-columns: 50%;
  padding: 20%;
  padding-top: 0%;
  width: fit-content;
  
  
}
.article-html{
  font-size: large;
  align-content: left;
  grid-area: body;
padding-top: 10%;
  border-top: 1px solid #757575b4; 
  padding: 50px;
  background-color: #5250501e;
  
}
.article-html p{
  text-shadow: 1px 4px 22px rgba(0,0,0,0.6);
 text-align: left;
}
.article-html img{
  max-width: 100%;
  max-height: 100%;
 }
.article-upload{
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  z-index: 30;
}
.container {
  max-width: 100%;
}

.body {
  overflow: scroll;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
}

.upload-container{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.479);
  width: 100vw;
  height: 100vh;
  z-index: 50;
}

.upload-container label{
  float: left;
  color: #757575;
}
.upload-container button{
  position: relative;
  float: left;
  margin-left: 25px;
}
.upload-form-wrapper{
  width: auto;
  height: 100%;
  padding: 200px;
  padding-top: 10px;
  padding-bottom: 150px;
  background-color: #202020;
}
.upload-form-wrapper form{
  width: auto;
  height: 100%;
  background-color: #1111113f;
}
.upload-form-wrapper h1{
  color: #757575;
  font-family: 'Abril Fatface', cursive;
}
.upload-form-wrapper i{
  position: relative;
  color: #757575;
  float: right;
}
h1 span{
  font-size: 20px;
  position: relative;
  top: 30px;
  left: -380px;
}
p{
  color: white;
}
.post-header{

}
#img-caption{
  position: relative;
  top: 10px;
  float: left;
  width: 70%;
  margin-left: 15%;
  height: 30px;
  border: 1px solid #757575
}
@import url(https://fonts.googleapis.com/css?family=Roboto);
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.back {
  position: relative;
  color: #757575;
  z-index: 30;
  top: 30px;
  margin-left: 90%;
  background: none;
  border: 0;
  grid-area: title;
  height: 60px;
  width: 60px;
}

.top-left,
.top-right,
.bottom-left,
.bottom-right,
.stalk {
  display: block;
  position: absolute;
  height: 0.2rem;
  width: 1.3rem;
  background: #757575;
  border-radius: 0.2rem;
  z-index: 2;
  opacity: 1;
  left: 50%;
}

.top-left {
  transform: rotate(45deg);
  top: 2.4rem;
}

.top-right {
  transform: rotate(135deg);
  top: 2.4rem;
}

.bottom-left {
  transform: rotate(135deg);
  top: 3.2rem;
}

.bottom-right {
  transform: rotate(45deg);
  top: 3.2rem;
}

.top-left,
.bottom-left {
  margin-left: -1rem;
}

.top-right,
.bottom-right {
  margin-left: -0.2rem;
}

.stalk {
  top: 2.8rem;
  width: 2rem;
  opacity: 0;
}

.text {
  color: #757575;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  font-family: "Roboto", sans-serif;
  position: absolute;
  bottom: 0.1rem;
  left: 40%;
  top: 35px;
  margin-left: -1.7rem;
  opacity: 0;
}

.back .top-left, .back .bottom-left {
  transition: opacity 0.3s 1s;
}
.back .top-right, .back .bottom-right {
  transition: margin-left 0.5s 0.5s;
}
.back .stalk {
  transition: margin-left 0.5s 0.5s, opacity 0.3s 1s;
}
.back .text {
  transition: opacity 0.3s 1s;
}
.back:hover .text {
  opacity: 1;
  transition: opacity 0.3s 0.5s;
}
.back:hover .top-left, .back:hover .bottom-left {
  opacity: 0;
  transition: opacity 0.3s 0.5s;
}
.back:hover .top-right, .back:hover .bottom-right {
  margin-left: -1.3rem;
  transition: margin-left 0.5s 0.8s;
}
.back:hover .stalk {
  opacity: 1;
  margin-left: -1.2rem;
  transition: margin-left 0.5s 0.8s, opacity 0.3s 0.5s;
}

#welcome-message h1{
  text-align: left;
  top: 25vh;
  left: 38%;
  position: relative;
  font-size: 60px;
  font-family: 'Abril Fatface', cursive;
  color: rgb(182, 182, 182);
}
#welcome-message{
  height: 100%;
  width: 100%;
}


#page-body{
  grid-area: search / center / center;
  background-color: white;
}
#page-body p{
  padding-left: 100px;
  padding-right: 100px;
  position: relative;

}


@keyframes loader{
  25%{
      color: #2ecc71;
  }
  50%{
      color: #f1c40f;
  }
  75%{
      color: #e74c3c;
  }
  to{
      transform: rotate(360deg);
  }
}

#HCB_comment_box blockquote{
  background-color: rgba(129, 123, 123, 0.411);
}
#HCB_comment_box h3{
  font-family: 'Abril Fatface', cursive;
  font-size: 40px;
  text-align: left;
}
#HCB_comment_box #hcb_form_name_container{
  text-align: left;
}
#HCB_comment_box .home-desc{
  visibility: hidden;
}
#HCB_comment_box{
  font-family: "Helvetica Neue",Helvetica,Arial;
  color: white;
}

#HCB_comment_box .hcb-comment-tb{
  font-family: "Helvetica Neue",Helvetica,Arial;
}
#HCB_comment_box .hcb-comment-body{
  text-align: left;
}
#HCB_comment_box .date{
  text-align: left;
}
#HCB_comment_box button{
  background-color: #2ecc71;
}
#HCB_comment_box label, #HCB_comment_box #hcb_settings{
  background-color: white;
}
.bookshelf-loader{
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: #111111;
}
.bookshelf_wrapper {
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.books_list {
  margin: 0 auto;
  width: 300px;
  padding: 0;
}

.book_item {
  position: absolute;
  top: -120px;
  box-sizing: border-box;
  list-style: none;
  width: 40px;
  height: 120px;
  opacity: 0;
  background-color: #111111;
  border: 5px solid rgb(182, 182, 182);e;
  transform-origin: bottom left;
  transform: translateX(300px);
  -webkit-animation: travel 2500ms linear infinite;
          animation: travel 2500ms linear infinite;
}
.book_item.first {
  top: -140px;
  height: 140px;
}
.book_item.first:before, .book_item.first:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgb(182, 182, 182);;
}
.book_item.first:after {
  top: initial;
  bottom: 10px;
}
.book_item.second:before, .book_item.second:after, .book_item.fifth:before, .book_item.fifth:after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 17.5px;
  border-top: 5px solid rgb(182, 182, 182);;
  border-bottom: 5px solid rgb(182, 182, 182);;
}
.book_item.second:after, .book_item.fifth:after {
  top: initial;
  bottom: 10px;
}
.book_item.third:before, .book_item.third:after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 10px;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 5px solid rgb(182, 182, 182);;
}
.book_item.third:after {
  top: initial;
  bottom: 10px;
}
.book_item.fourth {
  top: -130px;
  height: 130px;
}
.book_item.fourth:before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  height: 17.5px;
  border-top: 5px solid rgb(182, 182, 182);;
  border-bottom: 5px solid rgb(182, 182, 182);;
}
.book_item.fifth {
  top: -100px;
  height: 100px;
}
.book_item.sixth {
  top: -140px;
  height: 140px;
}
.book_item.sixth:before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  bottom: 31px;
  left: 0px;
  width: 100%;
  height: 5px;
  background-color: rgb(182, 182, 182);;
}
.book_item.sixth:after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  bottom: 10px;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 5px solid rgb(182, 182, 182);;
}
.book_item:nth-child(2) {
  -webkit-animation-delay: 416.6666666667ms;
          animation-delay: 416.6666666667ms;
}
.book_item:nth-child(3) {
  -webkit-animation-delay: 833.3333333333ms;
          animation-delay: 833.3333333333ms;
}
.book_item:nth-child(4) {
  -webkit-animation-delay: 1250ms;
          animation-delay: 1250ms;
}
.book_item:nth-child(5) {
  -webkit-animation-delay: 1666.6666666667ms;
          animation-delay: 1666.6666666667ms;
}
.book_item:nth-child(6) {
  -webkit-animation-delay: 2083.3333333333ms;
          animation-delay: 2083.3333333333ms;
}

.shelf {
  width: 300px;
  height: 5px;
  margin: 0 auto;
  background-color: rgb(182, 182, 182);
  position: relative;
}
.shelf:before, .shelf:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111111;
  background-image: radial-gradient(rgba(255, 255, 255, 0.5) 30%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 -2.5px;
  top: 200%;
  left: 5%;
  -webkit-animation: move 250ms linear infinite;
          animation: move 250ms linear infinite;
}
.shelf:after {
  top: 400%;
  left: 7.5%;
}

@-webkit-keyframes move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 10px;
  }
}

@keyframes move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 10px;
  }
}
@-webkit-keyframes travel {
  0% {
    opacity: 0;
    transform: translateX(300px) rotateZ(0deg) scaleY(1);
  }
  6.5% {
    transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
  }
  8.8% {
    transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
  }
  10% {
    opacity: 1;
    transform: translateX(270px) rotateZ(0deg);
  }
  17.6% {
    transform: translateX(247.2px) rotateZ(-30deg);
  }
  45% {
    transform: translateX(165px) rotateZ(-30deg);
  }
  49.5% {
    transform: translateX(151.5px) rotateZ(-45deg);
  }
  61.5% {
    transform: translateX(115.5px) rotateZ(-45deg);
  }
  67% {
    transform: translateX(99px) rotateZ(-60deg);
  }
  76% {
    transform: translateX(72px) rotateZ(-60deg);
  }
  83.5% {
    opacity: 1;
    transform: translateX(49.5px) rotateZ(-90deg);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(0px) rotateZ(-90deg);
  }
}
@keyframes travel {
  0% {
    opacity: 0;
    transform: translateX(300px) rotateZ(0deg) scaleY(1);
  }
  6.5% {
    transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
  }
  8.8% {
    transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
  }
  10% {
    opacity: 1;
    transform: translateX(270px) rotateZ(0deg);
  }
  17.6% {
    transform: translateX(247.2px) rotateZ(-30deg);
  }
  45% {
    transform: translateX(165px) rotateZ(-30deg);
  }
  49.5% {
    transform: translateX(151.5px) rotateZ(-45deg);
  }
  61.5% {
    transform: translateX(115.5px) rotateZ(-45deg);
  }
  67% {
    transform: translateX(99px) rotateZ(-60deg);
  }
  76% {
    transform: translateX(72px) rotateZ(-60deg);
  }
  83.5% {
    opacity: 1;
    transform: translateX(49.5px) rotateZ(-90deg);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(0px) rotateZ(-90deg);
  }
}